<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConsultorioOdontologico.My.MySettings.db_consultorio_odontologicoConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=db_consultorio_odontologico;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="db_consultorio_odontologicoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="db_consultorio_odontologicoEntities1" connectionString="metadata=res://*/ModelPacientes.csdl|res://*/ModelPacientes.ssdl|res://*/ModelPacientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ConsultorioOdontologicoEntities" connectionString="metadata=res://*/ModelPacientes.csdl|res://*/ModelPacientes.ssdl|res://*/ModelPacientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="db_consultorio_odontologicoEntities2" connectionString="metadata=res://*/ModelPacientes.csdl|res://*/ModelPacientes.ssdl|res://*/ModelPacientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="db_consultorio_odontologicoEntities3" connectionString="metadata=res://*/ModelPacientes.csdl|res://*/ModelPacientes.ssdl|res://*/ModelPacientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="consultorioEntity" connectionString="metadata=res://*/mdlConsultorioModelo.csdl|res://*/mdlConsultorioModelo.ssdl|res://*/mdlConsultorioModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I4BBJMS\SQLEXPRESS;initial catalog=db_consultorio_odontologico;user id=sa;password=19781996;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ConsultorioOdontologico.My.MySettings.ConnectionString"
      connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-I4BBJMS\SQLEXPRESS;Password=19781996;User ID=sa;Initial Catalog=db_consultorio_odontologico"
      providerName="System.Data.OleDb" />
    <add name="ConsultorioOdontologico.My.MySettings.db_consultorio_odontologicoConnectionString1"
      connectionString="Data Source=DESKTOP-I4BBJMS\SQLEXPRESS;Initial Catalog=db_consultorio_odontologico;User ID=sa;Password=19781996"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>